In [31]:
for i in range(5):
    print(i,end=' ')
    #for j in i

0 1 2 3 4

In [12]:
for i in range(5):
    #print(i,end= '\t')
    print(i,end= '-')

0-1-2-3-4-

In [28]:
for i in range(1,5):
    for j in range(i):
        print('*',end='')
    print()

*
**
***
****

In [42]:
for i in range(6):
    for j in range(i-2):
        print('*',end='')
    print()

*
**
***

In [41]:
5*'*'

'*****'

In [44]:
for i in range(5):
    print(i*'*')

*
**
***
****

In [52]:
for i in range(8):
    for j in range(i):
        print('*')
    #print('')

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [66]:
for i in range(1,8):
    for j in range(i):
        #for k in range():
            print('*',end='')
    print()

*
**
***
****
*****
******
*******

In [32]:
a=int(input("Enter the number of rows:"))
print()

Enter the number of rows:4

In [ ]:
a=int(input("Enter the number of rows:"))
for row in range(a):
    for space in range(a-row):
        print("-",end=" ")
    for star in range(row):
        print("*",end=" ")
    print()

In [1]:
a=int(input("Enter the number of rows:"))
for row in range(a):
    for space in range(a-row):
        print("-",end=" ")
    for star in range(row):
        print("*",end=" ")
    print()

Enter the number of rows:8
- - - - - - - -
- - - - - - - *
- - - - - - * *
- - - - - * * *
- - - - * * * *
- - - * * * * *
- - * * * * * *
- * * * * * * *

In [ ]:
a=int(input("Enter the number of rows:"))
for row in range(1,a*2):
    if row%2==1:
        for space in range(a*2-row):
            print("",end="")
        for star in range(row):
            print("*",end=" ")
        print()