def square(x):
    return x**2

In [3]:
def square(x):
    return x**2

In [4]:
x=3

In [5]:
x**3

27

In [6]:
list(map(square,range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# filter

In [8]:
def odd(x):
    return x%2==1

In [9]:
odd(9)

True

In [10]:
odd(8)

False

In [11]:
filter(odd,range(10))

In [12]:
list(filter(odd,range(10)))

[1, 3, 5, 7, 9]

In [13]:
for i in filter(odd,range(10)):
    print(i)

1
3
5
7
9

In [16]:
x=lambda i:i**2

In [18]:
x(30)

900

In [19]:
list(map(lambda x:x**2,range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
list(filter(lambda x:x%2==1,range(10)))

[1, 3, 5, 7, 9]

# Reduce

In [23]:
from functools import reduce

In [26]:
reduce(lambda x,y:x-y,range(10))

-45

In [25]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
reduce(lambda x,y:x*y,range(1,10))

362880

# Comprehension

In [29]:
list(map(lambda x:x**2,filter(lambda x:x%2==1,range(20))))

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [41]:
a=[2,3,4,5,6]

In [31]:
[i for i in a]

[2, 3, 4, 5, 6]

In [40]:
[i**2 for i in a]

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [37]:
b=list(range(20))

In [38]:
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [39]:
[i**2 if i%2==0 else i**3 for i in a]

[0,
 1,
 4,
 27,
 16,
 125,
 36,
 343,
 64,
 729,
 100,
 1331,
 144,
 2197,
 196,
 3375,
 256,
 4913,
 324,
 6859]

In [42]:
[i**2 if i%2==0 else i**3 for i in range(10)]

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729]

In [44]:
[i**2 if i%2==0 else i**3 for i in range(10) if i%3!=0]

[1, 4, 16, 125, 343, 64]

In [45]:
Set Comprehension

SyntaxError: invalid syntax (<ipython-input-45-dc36648d698f>, line 1)

In [1]:
#list_variable = [x for x in iterable]

NameError: name 'iterable' is not defined

In [2]:
S = [x**2 for x in range(10)]

In [3]:
S

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
2**2

4

In [6]:
V=[2**i for i in range(12)]

In [7]:
V

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048]

In [8]:
M = [x for x in S if x % 2 == 0]

In [9]:
M

[0, 4, 16, 36, 64]

In [12]:
M=[x for x in S if x%2==1]

In [13]:
M

[1, 9, 25, 49, 81]

In [14]:
b='broadwaysinfosys'

In [17]:
from collections import Counter

In [18]:
Counter(b)

Counter({'b': 1,
         'r': 1,
         'o': 2,
         'a': 2,
         'd': 1,
         'w': 1,
         'y': 2,
         's': 3,
         'i': 1,
         'n': 1,
         'f': 1})

In [25]:
new_range=[i*i for i in range(10) if i%2==0] #*result*  = [*transform*    *iteration*         *filter*     ]

In [24]:
new_range

[0, 4, 16, 36, 64]

In [26]:
x=[i for i in range(5)]

In [27]:
x

[0, 1, 2, 3, 4]

In [30]:
x=[i**3 for i in range(5)]

In [31]:
x

[0, 1, 8, 27, 64]

In [32]:
squares=[]

In [34]:
for x in range(6):
    squares.append(x**2)

In [35]:
squares

[0, 1, 4, 9, 16, 25]

In [51]:
squares=[x**2 for x in range(6) if x%2==0]

In [52]:
squares

[0, 4, 16]

In [53]:
list=[3,4,5]

In [56]:
new_list=[x*3 for x in list if x%2==1]

In [57]:
new_list

[9, 15]

In [71]:
a=['I','love','python']

In [74]:
items=[x[0] for x in a]

In [75]:
items

['I', 'l', 'p']

In [76]:
[x.lower() for x in['A','B','C']]

['a', 'b', 'c']

In [77]:
[y.upper() for y in['a','s','t','h','a']]

['A', 'S', 'T', 'H', 'A']

In [ ]:
[x.isdigit()]