In [15]:
Square=list([x**2 for x in range(10)])

In [16]:
Square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
power={x:2**x for x in range(10)}

In [22]:
power

{0: 1, 1: 2, 2: 4, 3: 8, 4: 16, 5: 32, 6: 64, 7: 128, 8: 256, 9: 512}

In [29]:
even={x:x for x in Square if x%2==0}

In [30]:
even

{0: 0, 4: 4, 16: 16, 36: 36, 64: 64}

In [31]:
new_list=[]

In [39]:
for n in range(10):
    if n%2==0:
        new_list.append(n**2)
print(new_list)

[0, 4, 16, 36, 64, 0, 4, 16, 36, 64, 0, 4, 16, 36, 64]

In [40]:
new_list=[n**2 for n in range(10) if n%2==0]

In [41]:
new_list

[0, 4, 16, 36, 64]

In [42]:
import timeit

In [43]:
print(timeit.timeit('[n**2 for n in range(10) if n%2==0]',number=1000))

0.0037275900003805873

Lambda functions are also called "anonymous functions" or "functions without name".

In [44]:
lambda arguments : expression

In [52]:
def Mul(a,b):
    return(a*b)

In [53]:
Mul(3,5)

15

In [54]:
add=lambda x,y:x+y #x,y are arguments to the funct,(x+y) is the exp

In [55]:
add(2,3)

5

In [56]:
type(add)

function

In [1]:
def hello():
    print("Hello. World!")

In [2]:
%%

UsageError: Cell magic `%%` not found.

In [3]:
hello()

Hello. World!

In [4]:
def myname():
    print("My name is Aastha")

In [5]:
myname()

My name is Aastha

In [6]:
def forever():
    while True:
        pass

In [ ]:
forever()

In [ ]:
a=2+2

In [ ]:
a

In [7]:
def circlearea(r):
        area=3.14*r**2
        print("The area of circle",r, "is:",area)

In [8]:
circlearea(7)

The area of circle 7 is: 153.86

#%%

In [11]:
def areatriangle(b,h):
    area=1/2*b*h
    print("The area of triangle of",b,"and",h, "is:",area)

In [12]:
areatriangle(10,20)

The area of triangle of 10 and 20 is: 100.0

In [13]:
name="My name is astha"
house="My house is in banepa"
print(name)
print(house)

My name is astha
My house is in banepa

In [14]:
def fahrenheit_to_celsius(temp):
    """ Converts Fahrenheit temperature to Celsius. 
        Formula is 5/9 of temp minus 32 """
    # Note that this line is not executed
    # end='' keeps print from starting a new line.
    newTemp = 5*(temp-32)/9
    print("The Fahrenheit temperature",temp,"is equivalent to",newTemp,end='')
    print(" degrees Celsius")

In [15]:
fahrenheit_to_celsius(30)

The Fahrenheit temperature 30 is equivalent to -1.1111111111111112 degrees Celsius

In [18]:
def name():
    fname=input("Enter your first name:")
    lname=input("Enter your last name:")
    fullname=fname+" "+lname
    print("Your name is:",fullname)
name()

Enter your first name:a
Enter your last name:d
Your name is: a d

In [17]:
name()

Enter your first name:Aastha
Enter your last name:Timalsina
Your name is: Aastha Timalsina

In [22]:
def if_statement():
    x,y,z=8,4,5
    if x>y:
        print("x is greater")
    if y>z:
        print("y is greater")
    else:
        print("y is smaller")
    if z>0:
        print("z is positive")
    elif z<0:
        print("z is negative")
    else:
        print("z must be 0")
if_statement()

x is greater
y is smaller
z is positive

In [24]:
x,y,z=4,4,8
print("x is equal to y",x==y)
print("x is not equal to z",x!=z)

x is equal to y True
x is not equal to z True

# Q1. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).

In [6]:

for i in range(2000,3200):
    if (i%7==0) and (i%5!=0):
        print(i)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

# Write a program which can compute the factorial of a given numbers.

In [ ]:
def fact(f):
    if f==0:
        return 1
    else:
        return f*fact(f-1)
f=int(input("Enter a number:"))
fact(f)

In [ ]:
fact(7)

In [ ]:
data=input(int("Enter a number"))

# Taking input from console in python

In [1]:
num1=int(input("Enter a number:"))

C:\Users\welcome\Anaconda3\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

Enter a number:5

NameError: name 'num3' is not defined

In [ ]:
a1=float(input())
a2=float(input())
print(a1+num2)

In [5]:
def fact(x):
    if x == 0:
        return 1
    return x * fact(x - 1)
x=int(input())
print(fact(x))

8
40320

# With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

In [10]:
n=int(input("Enter the number:")) 
d=dict()
for i in range(1,n+1):
    d[i]=i*i
print(d)

Enter the number:8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.

In [16]:
user_values=int(input("Enter the list of numbers:"))
user_values=int(input("Enter the list of numbers:"))
user_values=int(input("Enter the list of numbers:"))

l=user_values.split(",")
t=tuple(l)
print(l)
print(t)

Enter the list of numbers:8
Enter the list of numbers:6
Enter the list of numbers:9

AttributeError: 'int' object has no attribute 'split'

# Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.

In [ ]:
lines=[]
while True:
    s=str(input())
    if s:
        lines.append(s.upper())
    else:
        break

my name is astha
hhshbshbshbs

In [ ]:
a=3

In [1]:
def demo(str):
    print(str)
return

In [2]:
demo("mY Name is aastha")

mY Name is aastha

In [7]:
def demo1(l1):
    mylist=[1,2,3,4]
    l1=mylist.append[6,7,8,8]
    print("New list")
    return l1

In [8]:
demo1(l1)

NameError: name 'l1' is not defined

In [11]:
def hello():
    '''Hello world '''
    print('hi')
print("The doctstring of the function Hello is:" + hello.__doc__)

The doctstring of the function Hello is:Hello world

In [17]:
def add(a,b,c,d,str):
    x=a+b
    y=c+d
    z=c*d
    return (x,y,z,str)

In [18]:
add(3,4,5,6,'aastha')

(7, 11, 30, 'aastha')

In [19]:
#return type function
def add_r(a, b):
  """ return type function to find sum """
  x = a + b
  return x

In [20]:
add_r(9,8)

17

In [21]:
#non return type function
def add_n(a,b):
    x=a+b
    print(x)

In [22]:
add_n(5,6)

11

# Scope and lifetime of the variable

In [23]:
Local Variables vs Global Variables

Variables or parameters defined inside a function are called local variables as their scope is limited to the function only. On the contrary, Global variables are defined outside of the function.

Local variables can’t be used outside the function whereas a global variable can be used throughout the program anywhere as per requirement.

The lifetime of a local variable ends with the termination or the execution of a function, whereas the lifetime of a global variable ends with the termination of the entire program.

The variable defined inside a function can also be made global by using the global statement.

SyntaxError: invalid syntax (<ipython-input-23-cc4e83ed086a>, line 1)

In [25]:
def defaultArg(name,msg="Hello!"):
    return

In [26]:
defaultArg(name)

NameError: name 'name' is not defined

In [27]:
def defaultArg(str,num):
    return

In [30]:
defaultArg('astha',1)

In [31]:
print(defaultArg)

<function defaultArg at 0x000001F22A2CD158>

In [37]:
#Default Argument example

def defArgFunct(empname,emprole="Manager"):
    print("Emp Name:",empname)
    print("Emp Role:",emprole)
    return
print("Using default value")
defArgFunct(empname="Aastha")
print("**********************")
print("overwriting default value")
defArgFunct(empname="Tom",emprole="CEO")

Using default value
Emp Name: Aastha
Emp Role: Manager
**********************
overwriting default value
Emp Name: Tom
Emp Role: CEO

In [45]:
#Required arguments example

def regArgFunct(empname):
    print("Emp name:",empname)
    return
print("Not passing required arg value")
#regArgFunct()
print("Now passing required arg value")
regArgFunct("Aastha")

Not passing required arg value
Now passing required arg value
Emp name: Aastha

In [ ]:
Keyword arguments example

def keyArgFunc(empname,emprole):
    
    return